## JeJu_Location_Dacon

### Main Target
1. 상권 분석  

    1-1. [위치기반 분석]  

    - SIGUNGU(제주시, 서귀포시)에 따른 식당 type 분포 차이 
    - 날씨데이터 추가 + 위치에 따른 인기도 확인
    - 재난지원금이 사용되는 식당은 mainly 어느곳에 있는지 : 제주도민이 실제 가는 식당을 확인할 수 있음 
    - 어떤 위치에 이익의 가능성이 있는 type의 매장이 있는가 (시장개발 가능성 확인)
        - 유동인구 확인(만약 유동인구가 많은데 한 매장에서 뭐 예를 들면 한 편의점에서 매출이 엄청 나온다 이러면 그 위치에 편의점을 하나 짓는거지. 시장 개발 가능성확인)
    - 주거밀집지역(재난지원금을 수령하는 사람이 많은)인데 주변에 지출을 할 곳이 없어서 다른 상권 밀집지역으로 가는 부분이 있는지 확인 
    - 재난지원금을 사용하는 시간이 주중 점심인가, 그렇다면 회사 밀집지역인가, 거주지 주변인가 

    1-2. [시간 기반 분석]  

    - 어느 시간대에 가장 많은 방문이 이뤄지는지
    - 어느 시간대에 가장 많은 지출이 일어나는지 (NumofSpent & TotalSpent / DisSpent & NumOfDisSpent)
    - 식당 type에 따른 인기도 확인 (ex. 저녁에 주점에 많이 간다던지)  



2. 부동산 분석  
    - 매출이 많이 일어나는 곳이 임대료가 높은가. 즉, 임대료가 높은 상권은 모두 매출이 잘 나오는가 
    - 어떤 type의 상권이 몰려있는 곳이 있을텐데 어떤 상권 밀집지역이(거주지, 회사, 여가레저 type이 몰려있는 곳 중 어느 곳에서 가장 많은 지출이 일어나는가, 그리고 임대료 및 매입 가격이 어떤가)
    - 음식점이 많은 (음식점이나 카페 이런 곳이 몰려있는 번화가는 왜인지 매장 전환율_폐업률이 높을 것 같은데 이런 장소들은 부동산 가격이 상대적으로 더 높은가_ 상대적으로 매입가격보다 임대료가 높은가_비교했을 때)  
 
3. 여행객 분석  
    - 제주도에 5월-8월 관광객 수를 확인하고, 데이터에 있는 매장에서만 소비를 진행했다는 가정 하에, 평균 소비 금액을 확인
        - 제주도민의 평균 소비 금액을 알아야지만 분석 가능한 부분 
        - 아니면 월별로 지출양이 많이 차이가 있는가, 그리고 그 공간이 sns에서 확산이 된 곳인가 (이건 위도 경도가 정확한 매장을 가리키고 있는지 확인해야 할 듯)

            

4. 코로나 관련 분석 [재난지원금 Target 분석]
    - 어떤 시간대, 어느 type에서 많이 사용되는지 (월별, 일별 etc)
    - 재난지원금 사용 총액 확인 (Monthly, Total) : 제공된 재난지원금이 모두 잘 쓰이고 있는지 
    - 사용 비율 check
    - 제주도 재난지원금 제공 일자 확인 : 만약 4월에 받았으면 바로 가까운 5월에 재난지원금이 많이 사용됐으면 거기에 중점적으로 사용한 것이 아닌가 확인 -> 갑자기 수요가 툭 튀는 애들(평소에는 안나오는데)
    - 총 몇 가구, 총 몇 명이 얼마의 재난지원금을 수령했는지 확인 : 제주도의 가수1인가구, 2인, 3인, 4인 등 등 어떤지 확인  
    - 코로나가 얼마나 제주도에 많은 영향을 미쳤는가 : 사용비율 
    - 평균 제주 매장 매출액과 비교하여(type별) 많은 비율로 매출이 줄어들었는가. 일일 매출 평균이 어떤가. 정부 거리두기 시행 법령 변경과 연결되는가 


    - 위도 경도를 사용하여 (duplicated) 폐업한 매장을 확인.(type, 매출비용, 매장 방문횟수, 그리고 이 정보가 어느정도 이하여야 페업을 하는가(type별))
    - 재난지원금이 일상에서 지출되는 비용 즉, 일상지출로 사용되었는가 아니면 추가적으로 사용하지 않던 부분에서 지출되었는가 : 마트, 음식점 or 문화 etc
    - 코로나로 인해서 지출 비용이 얼마나 바뀌었는가 : 이건 코로나 이전의 지출 비용 데이터와 현재 갖고있는 데이터가 제주도 지출의 몇 %의 데이터를 갖고있는지 확인해야함 
    - 소비가 되는 지역이 주거지역인가, 기업밀집 지역인가, 아니면 여가를 위한 지역인가 : 과연 코로나 거리두기는 잘 되가고 있던걸까 확인 

-------------------

### 추가 데이터 
- 총 제주민에게 제공된 재난지원금액 
- 총 제주민이 버는 금액(원래 버는 금액)
- 평균 제주 매장 매출액 
- 날씨 데이터 
- 재난지원금 제공일자 
- 재난지원금 제공액 

---------------------

In [1]:
import pandas as pd
import numpy as np 
import os 
from pathlib import Path

In [2]:
print(os.getcwd())
root_path = Path('/Users/js8456/google_drive/Colab_Notebook/aiffel_lms/hakathon/jeju_location/data')
data5_path = root_path.joinpath('KRI-DAC_Jeju_data5.txt')
data6_path = root_path.joinpath('KRI-DAC_Jeju_data6.txt')
data7_path = root_path.joinpath('KRI-DAC_Jeju_data7.txt')
data8_path = root_path.joinpath('KRI-DAC_Jeju_data8.txt')

/Users/js8456/google_drive/Colab_Notebook/aiffel_lms/hakathon/jeju_location

In [3]:
# Data 구분은 월별로 되어있는 것 
data5 = pd.read_csv(data5_path)
data6 = pd.read_csv(data6_path)
data7 = pd.read_csv(data7_path)
data8 = pd.read_csv(data8_path)

In [4]:
columns = data5.columns
columns

Index(['OBJECTID', 'Field1', 'YM', 'SIDO', 'SIGUNGU', 'FranClass', 'Type',
       'Time', 'TotalSpent', 'DisSpent', 'NumofSpent', 'NumofDisSpent',
       'POINT_X', 'POINT_Y'],
      dtype='object')

In [5]:
# 5월부터 8월까지의 데이터 concat

data_concat = pd.concat([data5, data6, data7, data8], sort = False, ignore_index = True)
data_concat # 1119429 rows × 16 columns

,OBJECTID,Field1,YM,SIDO,SIGUNGU,FranClass,Type,Time,TotalSpent,DisSpent,NumofSpent,NumofDisSpent,POINT_X,POINT_Y,X,Y
0,1,1,202005,제주특별자치도,제주시,영세,일반한식,00시,363000,66500,10,2,877005.9834,1.479766e+06,NaN,NaN
1,2,2,202005,제주특별자치도,제주시,영세,단란주점,00시,1180000,0,3,0,877005.7447,1.479816e+06,NaN,NaN
2,3,3,202005,제주특별자치도,제주시,중소1,편의점,00시,157670,6850,20,2,877056.6756,1.479616e+06,NaN,NaN
3,4,4,202005,제주특별자치도,제주시,영세,편의점,00시,46600,0,2,0,877055.9593,1.479766e+06,NaN,NaN
4,5,5,202005,제주특별자치도,제주시,영세,주점,00시,66000,0,2,0,877055.4817,1.479866e+06,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1119424,280081,280081,202008,제주특별자치도,제주시,영세,편의점,x시,13700,0,2,0,950266.5976,1.502458e+06,NaN,NaN
1119425,280082,280082,202008,제주특별자치도,제주시,영세,일반한식,x시,56000,0,1,0,950317.5379,1.502258e+06,NaN,NaN
1119426,280083,280083,202008,제주특별자치도,제주시,영세,일반한식,x시,28000,0,1,0,950469.1585,1.501909e+06,NaN,NaN
1119427,280084,280084,202008,제주특별자치도,제주시,중소1,중국음식,x시,46000,0,3,0,950574.6388,1.500760e+06,NaN,NaN
1119428,280085,280085,202008,제주특별자치도,제주시,영세,서양음식,x시,9000,0,1,0,950565.5176,1.502659e+06,NaN,NaN

데이터 정의

YM	: 기준년월
SIDO	: 지역대분류명
SIGUNGU	: 지역중분류명
FranClass	: 소상공인구분
Type	: 업종명
Time	: 시간대
TotalSpent	: 총사용금액
DisSpent	: 재난지원금 사용금액
NumOfSpent	: 총 이용건수
NumOfDisSpent	: 총 재난지원금 이용건수
POINT_X, POINT_Y	: X,Y 좌표

In [6]:
# columns별 unique 확인 
print(data_concat['SIDO'].unique()) # column 삭제 필요 
print(data_concat['SIGUNGU'].unique())
print(data_concat['FranClass'].unique())
print(data_concat['Type'].unique())
print(data_concat['Time'].unique())

sigungu_unique = data_concat['SIGUNGU'].unique()
fran_unique = data_concat['FranClass'].unique()
type_unique = data_concat['Type'].unique()
time_unique = data_concat['Time'].unique()


print(type(fran_unique))
print(len(sigungu_unique)) # 2
print(len(fran_unique)) # 5
print(len(type_unique)) # 206
print(len(time_unique)) # 25

['제주특별자치도']
['제주시' '서귀포시']
['영세' '중소1' '중소' '중소2' '일반']
['일반한식' '단란주점' '편의점' '주점' '스넥' '서양음식' '일식회집' '기타음료식품' '노래방' '중국음식' '슈퍼마켓'
 '유흥주점' '기타숙박업' '기타레져업' '당구장' '농축수산품' '유아원' '골프경기장' '세탁소' '가방' '콘도' '주차장'
 '문화취미기타' '주유소' '사무서비스' '자동차정비' '특급호텔' '볼링장' '화장품' '기타회원제형태업소' '주류판매점'
 '제과점' '피부미용실' '약국' '칵테일바' '정육점' '독서실' '스포츠레져용품' '골프용품' 'LPG' '종합병원' '사우나'
 '화원' '의원' '안마스포츠마사지' '골프연습장' '2급호텔' '기타대인서비스' '보습학원' '부동산분양' '화물운송'
 '애완동물' '동물병원' '대형할인점' '인터넷Mall' '항공사' '헬스크럽' '기타유통업' '레져용품수리' '정장'
 '레져업소(회원제형태)' '관광여행' '1급호텔' '침구수예점' '사진관' '악세사리' '보관창고업' '기념품점' '미용원'
 '영화관' '의료용품' '세차장' '인터넷종합Mall' '기타잡화' '성인용품점' '상품권' '종합용역' '기계공구' '조세서비스'
 '택시' '기타의료기관및기기' '가례서비스' '구내매점' '수영장' '목재석재철물' '건축요업품' '기타업종' '렌트카'
 '종합레져타운' '유류판매' '농축협직영매장' '기타건축자재' '비료농약사료종자' '농기계' '보일러펌프' '가전제품'
 '스포츠의류' '페인트' '미곡상' '기타농업관련' '기타가구' '공공요금' '기능학원' '면세점' '기타교육' '위탁급식업'
 '이용원' '조명기구' '문구용품' '인테리어' '민예공예품' '기타연료' '자동차부품' '기타용역서비스' '기타운송' '연쇄점'
 '옷감직물' '한의원' '주방용식기' '카인테리어' '기타수리서비스' '농협하나로클럽' '기타건강식' '티켓' '기타전기제품'
 '일반서적' '외국어학원' '건강진단' '냉열기기' '소프트웨어' '내의판매점' '주방용구' '완구점' '유리' '자동차시트타이어'
 '카페트커텐천막' '기타교통수단' '테니스장' '치과의원' '신발' '기타의류' '컴퓨터' '병원' '가정용품수리' '단체복'
 '아동의류' '일반가구' '출판인쇄물' '치과병원' '서적출판(회원제형태)' '카메라' '정수기' 'CATV' '기타사무용'
 '학원(회원제형태)' '이륜차판매' '철제가구' '산후조리원' '견인서비스' '수족관' '양품점' '시계' '안경' '인삼제품'
 '홍삼제품' '한약방' '중장비수리' '캐쥬얼의류' '과학기자재' '윤활유전문판매' '부동산중개임대' '여객선' '통신기기'
 '귀금속' '건강식품(회원제형태)' '사무기기' '신변잡화수리' '미용재료' '예체능학원' '기타보험' '사무통신기기수리'
 '법률회계서비스' '맞춤복점' '전문서적' '화방표구점' '손해보험' '악기점' '기타자동차서비스' '정기간행물' '기타비영리유통'
 '화랑' '컴퓨터학원' '중고자동차' '제화점' '대학등록금' '기타서적문구' '학습지교육' '수입자동차' '기타직물'
 'DVD음반테이프판매' '기타광학품' '제약회사' '초중고교육기관' '사무서비스(회원제형태)' '골동품점' '정보서비스']
['00시' '01시' '02시' '03시' '04시' '05시' '06시' '07시' '08시' '09시' '10시' '11시'
 '12시' '13시' '14시' '15시' '16시' '17시' '18시' '19시' '20시' '21시' '22시' '23시'
 'x시']
<class 'numpy.ndarray'>
2
5
206
25

In [7]:
# 결측치 확인 -> 결측치 없음  
data_concat.isnull().sum()

OBJECTID              0
Field1                0
YM                    0
SIDO                  0
SIGUNGU               0
FranClass             0
Type                  0
Time                  0
TotalSpent            0
DisSpent              0
NumofSpent            0
NumofDisSpent         0
POINT_X               0
POINT_Y               0
X                835164
Y                835164
dtype: int64

## 2. Data 정리

### 2-1. column 정리

#### 2-1-1. 필요없는 col 삭제

In [ ]:
# 사용하지 않는 columns 삭제 

data_concat.drop(['SIDO', 'OBJECTID', 'Field1', 'X', 'Y'], axis = 1, inplace=True)

#### 2-1-2. NorSpend, NumNorSpend col 생성

In [14]:
# totalspent - disspend = NorSpend라는 col 만들기
# NumofSpent - NumofDisSpent = NumNorSpend col 만들기

data_concat.insert(6, 'NorSpend', (data_concat['TotalSpent'] - data_concat['DisSpent']))
data_concat.insert(9, 'NumNorSpent', (data_concat['NumofSpent'] - data_concat['NumofDisSpent']))

data_concat

,YM,SIGUNGU,FranClass,Type,Time,TotalSpent,NorSpend,DisSpent,NumofSpent,NumNorSpent,NumofDisSpent,POINT_X,POINT_Y
0,202005,제주시,영세,일반한식,00시,363000,296500,66500,10,8,2,877005.9834,1.479766e+06
1,202005,제주시,영세,단란주점,00시,1180000,1180000,0,3,3,0,877005.7447,1.479816e+06
2,202005,제주시,중소1,편의점,00시,157670,150820,6850,20,18,2,877056.6756,1.479616e+06
3,202005,제주시,영세,편의점,00시,46600,46600,0,2,2,0,877055.9593,1.479766e+06
4,202005,제주시,영세,주점,00시,66000,66000,0,2,2,0,877055.4817,1.479866e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1119424,202008,제주시,영세,편의점,x시,13700,13700,0,2,2,0,950266.5976,1.502458e+06
1119425,202008,제주시,영세,일반한식,x시,56000,56000,0,1,1,0,950317.5379,1.502258e+06
1119426,202008,제주시,영세,일반한식,x시,28000,28000,0,1,1,0,950469.1585,1.501909e+06
1119427,202008,제주시,중소1,중국음식,x시,46000,46000,0,3,3,0,950574.6388,1.500760e+06
1119428,202008,제주시,영세,서양음식,x시,9000,9000,0,1,1,0,950565.5176,1.502659e+06

#### 정제 필요 데이터 예상
1. 가게 위도(X, Y)를 이용했을 때 type, franclass 등이 변경된 사항이 있는지 확인 -> 체크 했으면 store이라는 col 새롭게 만들어서 고유 numbering 해주기 
    - 매장 닫은 곳이 있는지 추측할 수 있을 것 같아서. 매장이 변경되었으면 어떤 type에서 어떤 type으로 변경되었는지  

<br>
2. TotalSpent, NorSpend, DisSpent, NumofSpend, NumNorSpent, NumofDisSpent 에 음수가 존재하는지, 결제 취소 등의 이유로

#### 2-1-3. storeid col 생성

In [15]:
# 1. 가게 위도(X, Y)를 이용했을 때 type, franclass 등이 변경된 사항이 있는지 확인 
# 체크 했으면 store이라는 col 새롭게 만들어서 고유 numbering 해주기 

# 방법 1
print(len(data_concat)) #1119429
print(data_concat.duplicated(['POINT_X', 'POINT_Y']).sum()) #1104060

#방법2
duplicated_location_len = len([x for x in data_concat.duplicated(['POINT_X', 'POINT_Y']) if x == True])
duplicated_location_len
print(len(data_concat) - duplicated_location_len)

# 방법3
print(data_concat[['POINT_X', 'POINT_Y']].nunique()) # unique한 매장이 15369 개라는 걸 확인할 수 있음

1119429
1104060
15369
POINT_X    15369
POINT_Y    15369
dtype: int64

In [16]:
pd.options.display.float_format = '{:.10f}'.format # e 없이 실수표현하기 위해서

In [17]:
data_concat.columns

Index(['YM', 'SIGUNGU', 'FranClass', 'Type', 'Time', 'TotalSpent', 'NorSpend',
       'DisSpent', 'NumofSpent', 'NumNorSpent', 'NumofDisSpent', 'POINT_X',
       'POINT_Y'],
      dtype='object')

### 상권 분석 | 위치기반
#### 1. 폐업 정보 확인

In [18]:
# 위도경도 기준으로 duplicated인 애들 : 1104060

loca_unique = data_concat[data_concat[['POINT_X', 'POINT_Y']].duplicated()]
loca_unique
len(loca_unique)

# 위도 경도 type franclas(변경되었을까봐) 기준으로 duplicated인 애들 : 1078791
loca_type_unique = data_concat[data_concat[['POINT_X', 'POINT_Y', 'FranClass', 'Type']].duplicated()]
loca_type_unique
len(loca_type_unique)

1078791

In [19]:
# 업종 변경 업체 존재함 -> 아래에서 확인 
# loca_unique와 loca_type_unique에서 겹치지 않는 애들 
change_store = pd.concat([loca_unique, loca_type_unique])
change_store = change_store.reset_index(drop = True)

change_store_g = change_store.groupby(list(change_store.columns))

idx = [x[0] for x in change_store_g.groups.values() if len(x) == 1]
change_store = change_store.reindex(idx)

In [20]:
change_store[['POINT_X', 'POINT_Y']].nunique()
change_store = change_store.sort_values(by = ['POINT_X', 'POINT_Y'])
change_store.to_csv('overlap_location.csv')
change_store

# 결과를 확인해보니 위도 경도가 같은 store 중에, 폐업으로 인해 위경도가 같은 것이 아니라 그냥 중복되는 store가 존재함 
# 위의 정보로는 폐업 정보는 확인할 수 없을 것 같음

,YM,SIGUNGU,FranClass,Type,Time,TotalSpent,NorSpend,DisSpent,NumofSpent,NumNorSpent,NumofDisSpent,POINT_X,POINT_Y
581806,202007,제주시,영세,주류판매점,10시,173400,173400,0,15,15,0,875610.4807999998,1478959.7751000002
23696,202005,제주시,영세,서양음식,09시,24000,24000,0,2,2,0,875653.2934000000,1480459.2869000006
32449,202005,제주시,영세,일식회집,10시,93000,93000,0,1,1,0,875653.2934000000,1480459.2869000006
880946,202008,제주시,일반,일반한식,11시,75000,75000,0,1,1,0,875653.5322000000,1480409.3111000003
571399,202007,제주시,영세,일반한식,09시,103000,103000,0,4,4,0,875662.8436999999,1478460.2561000006
...,...,...,...,...,...,...,...,...,...,...,...,...,...
44875,202005,제주시,영세,서양음식,10시,82500,82500,0,9,9,0,950524.6586999997,1500759.5656999999
32441,202005,제주시,중소,농축수산품,09시,29000,29000,0,4,4,0,950524.6586999997,1500759.5656999999
32442,202005,제주시,중소,제과점,09시,40000,40000,0,5,5,0,950524.6586999997,1500759.5656999999
32445,202005,제주시,영세,서양음식,09시,97500,97500,0,3,3,0,950674.5988999996,1500760.2855999994
32446,202005,제주시,영세,스넥,09시,7000,7000,0,1,1,0,950674.5988999996,1500760.2855999994

***[폐업정보 정확히 확인 불가]***
- 결과를 확인해보니 위도 경도가 같은 store 중에, 폐업으로 인해 위경도가 같은 것이 아니라 그냥 중복되는 store가 존재함 
- 위의 정보로는 폐업 정보는 확인할 수 없을 것 같음 
- 근데 이렇게 되면 store마다 unique한 labeling이 불가능해짐 -> 어떤 방식으로던 해결이 필요함 
- 그냥 단순히 오류라고 생각해서 삭제하기에는 중요 info를 버리는 듯한 느낌 -> 지도 확인을 통해 정확히 어느 store인지 확인하고자 함(어떤 store인지 확인하지 마라 라는 주의사항이 없었던 것으로 기억)

#### 좌표계 변환 | ITRF2000 -> KaKao 기준 WGS84

In [28]:
from pyproj import Proj, transform

In [30]:
# ITRF2000
proj_ITRF2000=Proj(init='epsg:5178')
#WGS84
proj_WGS84=Proj(init='epsg:4326')

#좌표 변환
x, y = list(data_concat['POINT_X']), list(data_concat['POINT_Y'])
X, Y = transform(proj_ITRF2000, proj_WGS84, x, y)

data_concat['WGS_X'] = X
data_concat['WGS_Y'] = Y
data_concat

/Users/js8456/opt/anaconda3/envs/tf2/lib/python3.7/site-packages/pyproj/crs/crs.py:53: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))
/Users/js8456/opt/anaconda3/envs/tf2/lib/python3.7/site-packages/pyproj/crs/crs.py:294: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  projstring = _prepare_from_string(" ".join((projstring, projkwargs)))
/Users/js8456/opt/anaconda3/envs/tf2/lib/python3.7/site-packages/pyproj/crs/crs.py:53: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))
/Users/js8456/opt/anaconda3/envs/tf2/lib/python3.7/site-packages/pyproj/crs/crs.py:294: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  projstring = _prepare_from_string(" ".join((projstring, projkwargs)))
/Users/js8456/opt/anaconda3/envs/tf2/lib/python3.7/site-packages/ipykernel_launcher.py:8: DeprecationWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1

,YM,SIGUNGU,FranClass,Type,Time,TotalSpent,NorSpend,DisSpent,NumofSpent,NumNorSpent,NumofDisSpent,POINT_X,POINT_Y,WGS_X,WGS_Y
0,202005,제주시,영세,일반한식,00시,363000,296500,66500,10,8,2,877005.9834000000,1479766.0730000006,126.1767459747,33.3050896700
1,202005,제주시,영세,단란주점,00시,1180000,1180000,0,3,3,0,877005.7446999998,1479816.0489000005,126.1767366124,33.3055402999
2,202005,제주시,중소1,편의점,00시,157670,150820,6850,20,18,2,877056.6755999997,1479616.3842999993,126.1773107148,33.3037456430
3,202005,제주시,영세,편의점,00시,46600,46600,0,2,2,0,877055.9593000001,1479766.3117999993,126.1772826351,33.3050975312
4,202005,제주시,영세,주점,00시,66000,66000,0,2,2,0,877055.4817000004,1479866.2634999994,126.1772639138,33.3059987901
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1119424,202008,제주시,영세,편의점,x시,13700,13700,0,2,2,0,950266.5976000002,1502457.6875000002,126.9623686478,33.5156316113
1119425,202008,제주시,영세,일반한식,x시,56000,56000,0,1,1,0,950317.5379000000,1502258.0074000007,126.9629282369,33.5138330297
1119426,202008,제주시,영세,일반한식,x시,28000,28000,0,1,1,0,950469.1584999998,1501908.8671000004,126.9645800987,33.5106911089
1119427,202008,제주시,중소1,중국음식,x시,46000,46000,0,3,3,0,950574.6387999997,1500759.8057000004,126.9657792721,33.5003323668
1119428,202008,제주시,영세,서양음식,x시,9000,9000,0,1,1,0,950565.5175999998,1502659.0482000001,126.9655760982,33.5174616098

[좌표계 변환 참고페이지](https://m.blog.naver.com/wideeyed/221243506770)

In [51]:
# 카카오에서 직접 띄워주는 API는 없음 
import folium

In [54]:
map=folium.Map(location=[data_concat['WGS_X'].mean(),data_concat['WGS_Y'].mean()], zoom_start=11.5)

for i in data_concat.index:
    # folium.Marker([data_concat.loc[i,'WGS_X'], data_concat.loc[i,'WGS_Y']], icon=folium.Icon(color='red', icon='home')).add_to(map)    
    # folium.CircleMarker([data_concat.loc[i,'WGS_X'], data_concat.loc[i,'WGS_Y']], radius=10,color='red',fill_color='red', popup=str([data_concat.loc[i,'WGS_X']])).add_to(map)   
    folium.CircleMarker([data_concat.loc[i,'WGS_X'], data_concat.loc[i,'WGS_Y']], radius=10,color='red',fill_color='red').add_to(map)   

map

#### 2. SIGUNGU(제주시, 서귀포시)에 따른 식당 type 분포 차이

In [26]:
data_concat.groupby('SIGUNGU')['Type'].count()

SIGUNGU
서귀포시    321277
제주시     798152
Name: Type, dtype: int64

-----
------

In [21]:
# 2. TotalSpent, NorSpend, DisSpent, NumofSpend, NumNorSpent, NumofDisSpent 에 음수가 존재하는지, 결제 취소 등의 이유로 
minus_disspent = []
for idx, spent in enumerate(data_concat['DisSpent']):
    if spent < 0:
        minus_disspent.append(idx)
print(minus_disspent)

minus_totalspent = []
for idx, spent in enumerate(data_concat['TotalSpent']):
    if spent < 0:
        minus_totalspent.append(idx)
print(minus_totalspent)

minus_numofdis = []
for idx, num in enumerate(data_concat['NumofDisSpent']):
    if num < 0:
        minus_numofdis.append(idx)
print(minus_numofdis)

minus_numofspent = []
for idx, num in enumerate(data_concat['NumofSpent']):
    if num < 0:
        minus_numofspent.append(idx)
print(minus_numofspent)

# disspent, numofdis에 음수가 존재함 
# length는 동일하지 않음
# 음 이건 취소한건가

[17009, 26069, 27104, 27684, 31365, 45394, 46717, 48980, 56055, 57566, 58053, 60034, 61167, 63524, 63889, 65581, 79076, 80217, 84439, 85766, 85968, 94960, 97818, 98394, 103476, 106484, 106618, 107687, 109223, 116813, 117056, 117436, 117906, 121257, 121706, 131839, 137459, 146382, 156801, 157536, 158345, 161140, 162669, 163716, 172318, 177586, 180900, 186501, 196065, 208551, 211398, 211935, 214424, 215346, 218259, 218380, 222905, 235265, 249550, 294329, 297029, 299664, 310801, 311046, 317891, 323759, 325046, 370159, 375936, 388207, 389735, 390351, 396944, 402729, 409643, 410990, 411458, 413259, 413398, 416080, 425125, 428615, 428678, 429758, 433017, 434537, 450941, 452599, 458042, 466334, 476317, 494010, 501794, 502933, 575581, 584368, 588631, 593067, 611355, 623193, 640676, 642761, 647561, 651380, 658095, 662048, 663257, 695180, 720405, 750725, 750939, 768887, 771851, 855463, 920832, 955082, 958754, 1030139, 1086998]
[]
[26069, 31365, 46717, 56055, 58053, 85766, 85968, 117906, 121706, 146382, 157536, 158345, 162669, 163716, 172318, 180900, 196065, 211935, 215346, 218380, 222905, 235265, 299664, 375936, 390351, 396944, 409643, 410990, 413259, 413398, 416080, 428678, 501794, 611355, 623193, 651380, 658095, 750939, 768887, 920832, 955082, 1030139, 1086998]
[]